---
interface Props {
	description: string;
	caption: string;
	content: string;
	alignRight: boolean;
}
const {  description, caption, content, alignRight } = Astro.props;
---

<div class=`flex flex-col mb-8 animated fadeIn sm:flex-row`>
	<div class=`flex items-center mb-8 sm:w-1/2 md:w-5/12 ${alignRight ? "" : "sm:order-last"}`>
		<slot />
		<!--<video class="rounded-lg shadow-xl tails-selected-element" autoplay muted loop src={video}/>-->
		<!--<div id=`lazycontainer ${id}`>-->
		<!--	<Image-->
		<!--		alt="placeholder img"-->
		<!--		id={`placeholder ${id}`}-->
		<!--		src={placeholderImg}-->
		<!--		fetchpriority="high"-->
		<!--	/>-->
		<!--</div>-->
	</div>
	<div class=`flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 ${alignRight ? "sm:pl-16" : "sm:pr-16"}`>
		<p class="mb-2 text-sm font-semibold leading-none text-left text-[#6f82ba] uppercase" data-primary="indigo-600">{description}</p>
		<h3 class="mt-2 text-2xl sm:text-left md:text-4xl">{caption}</h3>
		<p class="mt-5 text-lg text-gray-700 text md:text-left leading-relaxed">{content}<br><br></p>
	</div>
</div>
