---
import Layout from '../layouts/Layout.astro';
import briefingViewImg from "./images/briefing_view.png";
import briefingImg from "./images/briefing.png";
import clothesImg from "./images/clothes.svg";
import {Image} from "astro:assets";
import bgImg from "./images/bg_clothes_flat.png";
import ContentSection from "../components/modules/ContentSection.astro";
import ContentContainer from "../components/modules/ContentContainer.astro";
---

<Layout title="Briefing">
    <main>
        <section class="relative bg-[#e1f2fd] tails-selected-element">
            <div class="absolute inset-0 flex justify-end w-full h-full overflow-hidden opacity-50">
                <Image src={bgImg} alt="bgImg" class="absolute inset-0 object-cover w-full h-full opacity-40"/>
            </div>
            <div class="relative flex flex-col px-16 py-16 mx-auto max-w-7xl bg-gradient-to-r lg:flex-row from-transparent via-[#e1f2fd] to-transparent">
                <div class="relative flex flex-col w-full mb-16 lg:mb-0 lg:w-2/3 sm:justify-center sm:items-center sm:text-center lg:text-left lg:items-start">
                    <h1 class="mb-8 text-5xl font-bold text-gray-700 sm:text-6xl lg:text-7xl">Briefing</h1>
                    <p class="max-w-xl mx-auto mb-8 text-gray-700 sm:text-lg lg:text-xl lg:pr-20 lg:max-w-none lg:mx-0">Beschreiben Sie ihre Sortimentsgesuche in strukturierter Form. Teilen Sie diese im Team und mit Partnern. Feedbackloops und Status-Management inkludiert.</p>
                </div>
                <div class="relative flex items-center justify-center w-full max-w-xl mx-auto lg:w-1/2">
                    <Image src={clothesImg} alt="cover image" class="w-full h-[300px] xl:pr-5 lg:translate-y-5"/>
                </div>
            </div>
        </section>
        <section class="py-20 bg-white tails-selected-element">
            <ContentContainer>
                <ContentSection
                        description="Beschaffungsprozesse optimieren"
                        caption="Ausschreibungen erstellen"
                        content="Erfassen Sie Ihre Produktanforderungen effizient und strukturiert und teilen Sie diese als eine Art Ausschreibung nahtlos mit Ihren Partnern und Lieferanten. Lassen Sie Ihre Lieferanten und Partner ihre Rücksendungen in Ihrem gewünschtem Format einfach und bequem darauf zusenden."
                        alignRight={false}
                >
                    <iframe class="w-full aspect-video lazyload" data-src="https://player.vimeo.com/video/993697524?background=1"></iframe>
                </ContentSection>
                <ContentSection
                        description="einfach vergleichen"
                        caption="Das beste Angebot finden"
                        content="Holen Sie gleichzeitig Angebote von mehreren Lieferanten ein, ohne dass diese sich gegenseitig sehen können. So erhalten Sie transparente Vergleichsmöglichkeiten und können direkt mit den Lieferanten in Kontakt treten, um Änderungen anzufordern, Vorverhandlungen zu führen und vieles mehr. Finden Sie spielend leicht das beste Angebot für Ihre Bedürfnisse."
                        alignRight={true}
                >
                    <!--<video class="rounded-lg shadow-xl tails-selected-element" autoplay muted loop src={briefingAnnotationVideo}/>-->
                </ContentSection>
                <ContentSection
                        description="übersichtliche versionierung"
                        caption="Überblick behalten"
                        content="Dank der Versionierungsfunktion können Sie problemlos Vorher- und Nachher-Vergleiche durchführen, Feedback nachvollziehen und stets den Überblick über alle Änderungen an Ihrem Angebot behalten."
                        alignRight={false}
                >
                    <!--<video class="rounded-lg shadow-xl tails-selected-element" autoplay muted loop src={briefingCreateVideo}/>-->
                </ContentSection>
                <ContentSection
                        description="Bilder annotation"
                        caption="Änderungswünsche mitteilen"
                        content="Mit der Bilder Annotation können Sie jetzt ganz einfach Ihre Änderungswünsche direkt markieren und an den Lieferanten senden. Kein lästiges Hin und Her mehr, sondern klare Kommunikation ohne Missverständnisse."
                        alignRight={true}
                >
                    <iframe class="w-full aspect-video lazyload" data-src="https://player.vimeo.com/video/993697483?background=1"></iframe>
                </ContentSection>
            </ContentContainer>
        </section>
        <section class="py-20 bg-gray-50 tails-selected-element">
            <div class="container items-center max-w-6xl px-10 mx-auto sm:px-20 md:px-32 lg:px-16">
                <div class="flex flex-wrap items-center -mx-3">
                    <div class="order-1 w-full px-3 lg:w-1/2 lg:order-0">
                        <div class="w-full lg:max-w-md">
                            <h2 class="mb-4 text-3xl font-bold leading-tight tracking-tight sm:text-4xl font-heading">Vorteile von Briefings</h2>
                            <!--<p class="mb-4 font-medium tracking-tight text-gray-400 xl:mb-6">Es war noch nie einfacher Sortimente zu planen. ProductSpace unterstützt dich bei Folgendem:</p>-->
                            <ul>
                                <li class="flex items-center py-2 space-x-4 xl:py-3">
                                    <div class="w-8 h-8"><svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="#ff5c74" viewBox="0 0 256 256"><path d="M236,198.65V240a12,12,0,0,1-24,0V198.65A70.66,70.66,0,0,0,196,154v48.27a12,12,0,0,1-22,6.57l-10.67-16.3c-.13-.19-.25-.38-.36-.58a8,8,0,0,0-14,7.77l22,33.66a12,12,0,1,1-20.08,13.14l-22.26-34c-.12-.19-.24-.38-.35-.58A32,32,0,0,1,172,168.3V68h-8a12,12,0,0,1,0-24h12a20,20,0,0,1,20,20v57.52A94.91,94.91,0,0,1,236,198.65ZM88,56A12,12,0,0,0,76,44H64A20,20,0,0,0,44,64V200a12,12,0,0,0,24,0V68h8A12,12,0,0,0,88,56Zm68.49,60.48a12,12,0,0,0-17-17L132,107V16a12,12,0,0,0-24,0v91l-7.51-7.52a12,12,0,0,0-17,17l28,28a12,12,0,0,0,17,0Z"></path></svg></div>
                                    <span class="font-medium text-gray-500">Mehrere Angebote gleichzeitig einholen</span>
                                </li>
                                <li class="flex items-center py-2 space-x-4 xl:py-3">
                                    <div class="w-8 h-8"><svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="#ffd93b" viewBox="0 0 256 256"><path d="M228,128a12,12,0,0,1-12,12H128a12,12,0,0,1,0-24h88A12,12,0,0,1,228,128ZM128,76h88a12,12,0,0,0,0-24H128a12,12,0,0,0,0,24Zm88,104H128a12,12,0,0,0,0,24h88a12,12,0,0,0,0-24ZM79.51,39.51,56,63l-7.51-7.52a12,12,0,0,0-17,17l16,16a12,12,0,0,0,17,0l32-32a12,12,0,0,0-17-17Zm0,64L56,127l-7.51-7.52a12,12,0,1,0-17,17l16,16a12,12,0,0,0,17,0l32-32a12,12,0,0,0-17-17Zm0,64L56,191l-7.51-7.52a12,12,0,1,0-17,17l16,16a12,12,0,0,0,17,0l32-32a12,12,0,0,0-17-17Z"></path>></svg></div>
                                    <span class="font-medium text-gray-500"><div class="">Angebote miteinander vergleichbar</div></span>
                                </li>
                                <li class="flex items-center py-2 space-x-4 xl:py-3">
                                    <div class="w-8 h-8"><svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="#A0D7FF" viewBox="0 0 256 256"><path d="M216,76H188V48a20,20,0,0,0-20-20H40A20,20,0,0,0,20,48V176a12,12,0,0,0,19.54,9.33l28.46-23V184a20,20,0,0,0,20,20h92.17l36.29,29.33A12,12,0,0,0,236,224V96A20,20,0,0,0,216,76ZM44,150.87V52H164v80H71.58A12,12,0,0,0,64,134.67Zm168,48-20-16.2a12,12,0,0,0-7.54-2.67H92V156h76a20,20,0,0,0,20-20V100h24Z"></path></svg></div>
                                    <span class="font-medium text-gray-500">zentrale Kommunikation über die Plattform (ohne Email-Ping-Pong)</span>
                                </li>
                                <li class="flex items-center py-2 space-x-4 xl:py-3">
                                    <div class="w-8 h-8"><svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="#6f82ba" viewBox="0 0 256 256"><path d="M112,148a12,12,0,0,0-12,12v19L69.17,148.2A4,4,0,0,1,68,145.37V97.94a36,36,0,1,0-24,0v47.43a27.81,27.81,0,0,0,8.2,19.8L83,196H64a12,12,0,0,0,0,24h48a12,12,0,0,0,12-12V160A12,12,0,0,0,112,148ZM56,52A12,12,0,1,1,44,64,12,12,0,0,1,56,52ZM212,158.06V110.63a27.81,27.81,0,0,0-8.2-19.8L173,60h19a12,12,0,0,0,0-24H144a12,12,0,0,0-12,12V96a12,12,0,0,0,24,0V77l30.83,30.83a4,4,0,0,1,1.17,2.83v47.43a36,36,0,1,0,24,0ZM200,204a12,12,0,1,1,12-12A12,12,0,0,1,200,204Z"></path></svg></div>
                                    <span class="font-medium text-gray-500">Versionierung<br></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-full px-3 mb-12 lg:w-1/2 order-0 lg:order-1 lg:mb-0"><Image class="mx-auto sm:max-w-sm lg:max-w-full xl:px-10" src={briefingImg} alt="feature image"/></div>
                </div>
            </div>
        </section>
    </main>
</Layout>