---
import Layout from '../layouts/Layout.astro';
import earthImg from "./images/word-chat.png";
import chatbubbleImg from "./images/chat_avatar_blue.png";
import logo from "./images/ps_logo_cloths.svg";
import {Image} from "astro:assets";
import bonprixLogo from "./images/bonprix_logo.svg";
import anja from "./images/anja-mittelstaedt.png";
import bg from "./images/case-study-bg.png";
import bg2 from "./images/case_study_bg_2.png";
import blob1 from "./images/blob-shape-1.png";
import blobB from "./images/blob-shape-A.png"
import telescopeImg from "./images/illu-person-looking-through-a-telescope.svg"
import maschinImg from "./images/maschine.svg"
import clothesImg from "./images/clothes.svg"

---

<Layout title="Case Study">
    <main>
        <section class="w-full bg-gray-900 overflow-hidden relative tails-selected-element">
            <Image src={bg} alt="bgImg" class="w-full h-80 object-cover"/>
        </section>
        <section class="h-auto bg-white tails-selected-element">
            <div class="px-10 pt-24 pb-6 mx-auto max-w-7xl">
                <div class="w-full mx-auto text-left md:text-center">
                    <h1 class="mb-6 text-5xl font-extrabold leading-none max-w-5xl mx-auto tracking-normal text-gray-900 sm:text-6xl md:text-6xl lg:text-7xl md:tracking-tight"><span class="w-full text-transparent bg-clip-text bg-gradient-to-r from-[#373754] via-45% via-[#6F82BA] to-[#d21929] lg:inline">ProductSpace x Bonprix</span></h1>
                    <p class="px-0 mb-6 text-lg text-gray-600 md:text-xl lg:px-24">Mehr Transparenz und Tempo in der Kollektionsentwicklung bei Bonprix. <br><b>Productspace in Aktion</b>: bonprix beschleunigt Produktentwicklung und Time-to-Market mit über 3.000 neuen Ideen & Inspirationen pro Monat von über 300 engagierten Usern.

                    </p>
                </div>
            </div>
        </section>
        <section class="py-10 bg-white tails-selected-element">
            <div class="container max-w-6xl mx-auto">
                <div class="grid grid-cols-4 gap-8 mt-10 sm:grid-cols-8 lg:grid-cols-12 sm:px-8 xl:px-0">
                    <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 sm:rounded-xl" data-rounded="rounded-xl" data-rounded-max="rounded-full">
                        <Image src={chatbubbleImg} alt="img" class="mx-auto w-auto h-24"/>
                        <h4 class="text-2xl font-bold text-gray-700">340</h4>
                        <p class="text-base text-center text-gray-500">aktive User zählt ProductSpace bei bonprix</p>
                    </div>

                    <div class="flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 bg-gray-100 sm:rounded-xl" data-rounded="rounded-xl" data-rounded-max="rounded-full">
                        <Image src={logo} alt="img" class="mx-auto w-auto h-24"/>
                        <h4 class="text-2xl font-bold text-gray-700">3.400</h4>
                        <p class="text-base text-center text-gray-500">neue Produkte/Ideen teilen User monatlich auf ProductSpace</p>
                    </div>

                    <div class="flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 bg-gray-100 sm:rounded-xl" data-rounded="rounded-xl" data-rounded-max="rounded-full">
                        <Image src={earthImg} alt="img" class="mx-auto w-auto h-24"/>
                        <h4 class="text-2xl font-bold text-gray-700">>10</h4>
                        <p class="text-base text-center text-gray-500">Ländern wird auf ProductSpace zugegriffen</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="flex items-center justify-center py-10 text-white bg-white sm:py-16 md:py-24 lg:py-32 tails-selected-element">
            <div class="absolute flex justify-end w-full h-full overflow-hidden">
                <Image src={blob1} alt="bgImg" class="absolute object-cover w-full h-full opacity-20"/>
            </div>
            <div class="relative max-w-3xl px-10 text-center text-white auto lg:px-0">
                <div class="flex flex-col w-full">
                    <p class="mb-2 text-sm font-semibold leading-none text-left text-[#6f82ba] uppercase" data-primary="indigo-600">Die Ausgangssituation</p>
                    <p class="relative flex flex-col text-2xl font-extrabold text-left text-black">
                        „Wir wollten schneller, flexibler und digitaler werden“
                    </p>
                </div>

                <!-- Separator -->
                <div class="my-6 border-b border-gray-300 lg:my-12"></div>

                <!-- Bottom Text -->
                <h2 class="text-justify text-gray-500 xl:text-xl w-full">
                    <div>
                        Der Modeanbieter <b>bonprix</b> betreibt einen der branchenübergreifend zehn umsatzstärksten Online-Shops in Deutschland. In 30 Ländern weltweit finden Kunden bei ihm aktuelle Mode und jeden Monat eine neue Kollektion. Bisher dauerte es allerdings <b>ein dreiviertel Jahr</b> von einer Idee zum kauffähigen Produkt. Mit der Digitalisierung der Workflows und Einführung von 3D-Modellierung konnte das Unternehmen den Prozess jedoch radikal abkürzen. Eine zentrale Rolle dabei spielt das Collaboration Tool ProductSpace.
                        <br><br>
                        <div class="md:float-left w-auto md:w-[250px] h-auto flex flex-col items-center p-2" data-rounded="rounded-xl" data-rounded-max="rounded-full">
                            <Image src={bonprixLogo} class="pr-4" alt="bonprix logo"/>
                        </div>
                        Trotz aller Krisen und Unsicherheiten: Aus dem ehemaligen Katalogversandhändler ist ein international erfolgreiches Multichannel-Unternehmen geworden. Ein Geheimnis seines Erfolgs: konsequente Digitalisierung und Innovation. Kontinuierlich treibt die Geschäftsführung neue Innovationsprojekte voran, um leistungsfähiger, kundenorientierter und effizienter zu werden. Auch in der Produktentwicklung wurde nun begonnen das Potenzial digitaler Technologien auszuschöpfen.
                        <br><br>
                    </div>

                    <div>
                        <div class="md:float-right w-auto md:w-[250px] h-auto flex flex-col items-center p-2 bg-gray-100 sm:rounded-xl md:ml-6 md:mb-6" data-rounded="rounded-xl" data-rounded-max="rounded-full">
                            <Image src={anja} alt="anja" class="w-full h-auto"/>
                            <p class="text-lg font-bold text-gray-700">Anja Mittelstädt</p>
                            <p class="text-base text-center text-gray-500">Projektleitung Consulting & Innovation bei bonprix</p>
                        </div>
                        <p>„Wir wollten schneller, flexibler und digitaler werden“, beschreibt Anja Mittelstädt, Projektleitung Consulting & Innovation bei bonprix. „Der gesamte Kreativprozess, von der Ideenfindung bis zum Einpflegen des produktionsreifen Designs ins PIM-System, lief lange ohne stringente digitale Struktur ab. Jeder Mitarbeiter war individuell organisiert.“
                            <br><br>
                            Viele Product Owner sammelten die Ergebnisse des Market Researchs in <b>Power Point</b>.   Die Zusammenarbeit mit Agenturen, Kreativlieferanten und Designern <b>fand über E-Mail statt</b>,   oft in vielen Iterationen. Der Prozess war nicht nur langsam und <b>anfällig für Missverständnisse</b>, sondern auch intransparent: War ein Stakeholder nicht in cc gesetzt, hatte er keinen Einblick in den Projektfortschritt.
                        </p>
                    </div>

                </h2>
            </div>
        </section>
        <section class="flex items-center justify-center py-10 text-white bg-white sm:py-16 md:py-24 lg:py-32 tails-selected-element">
            <div class="relative max-w-3xl px-10 text-center text-white auto lg:px-0">
                <div class="flex flex-col w-full">
                    <p class="mb-2 text-sm font-semibold leading-none text-right text-[#6f82ba] uppercase" data-primary="indigo-600">Das Vorgehen</p>
                    <p class="relative flex flex-col text-2xl font-extrabold text-right text-black">
                        Auswahl des Digitalisierungspartners
                    </p>
                </div>

                <!-- Separator -->
                <div class="my-6 border-b border-gray-300 lg:my-12"></div>

                <!-- Bottom Text -->
                <h2 class="text-justify text-gray-500 xl:text-xl w-full">
                    <div class="md:float-left w-auto md:w-[250px] h-auto flex flex-col items-center p-2" data-rounded="rounded-xl" data-rounded-max="rounded-full">
                        <Image src={logo} class="pr-4" alt="bonprix logo"/>
                    </div>
                    Mit ihrem Projekt-Team suchte Anja Mittelstädt daher zunächst eine Sortimentierungsanwendung. Verschiedene Anbieter kamen in die engere Auswahl. Am Ende war es ein Kopf-an- Kopf-Rennen. „<b>ProductSpace hat uns letztlich aber überzeugt und begeistert.</b>“ Ein weiterer Faktor: ProductSpace-Gründer <b>Marten Prieß</b> verfügt über mehr als 15 Jahre Entwicklungserfahrung, vor allem im Fashion-Umfeld. Er kennt Branchen-Herausforderungen und gängige Systeme, ein großer <b>Pluspunkt für die Integration</b>.
                    <br><br>
                    „Wir haben Marten als <b>starken Konzepter</b> kennengelernt, der mitdenkt und nicht einfach nur Anforderungen umsetzt. Das war uns für die <b>Individualisierung</b> von ProductSpace wichtig: jemanden zu haben, der schnell versteht, was wir brauchen und lösungsorientiert ist. Und das hat sich für das <b>ganze Team von ProductSpace</b> so bewahrheitet. “Das ist zu aufwändig”,   “das geht nicht” – solche Sätze haben wir nie gehört. Wir haben immer gemeinsam konstruktiv nach Wegen gesucht und Lösungen gefunden. Und so konnten wir bis heute die Anwendung gemeinsam auf <b>unsere Needs hin entwickeln</b>.“
                </h2>

            </div>
        </section>
        <section class="flex items-center justify-center py-10 text-white bg-white sm:py-16 md:py-24 lg:py-32 tails-selected-element">
            <div class="absolute flex justify-end w-full h-full overflow-hidden">
                <Image src={blobB} alt="bgImg2" class="absolute object-cover w-full h-full opacity-20 rotate-180"/>
            </div>
            <div class="relative max-w-3xl px-10 text-center text-white auto lg:px-0">
                <div class="flex flex-col w-full">
                    <p class="mb-2 text-sm font-semibold leading-none text-left text-[#6f82ba] uppercase" data-primary="indigo-600">Unsere Umsetzung</p>
                    <p class="relative flex flex-col text-2xl font-extrabold text-left text-black">
                        Einführung von ProductSpace
                    </p>
                </div>

                <!-- Separator -->
                <div class="my-6 border-b border-gray-300 lg:my-12"></div>

                <!-- Bottom Text -->
                <h2 class="text-justify text-gray-500 xl:text-xl w-full">
                    <div class="md:float-right w-auto md:w-[250px] h-auto flex flex-col items-center p-2" data-rounded="rounded-xl" data-rounded-max="rounded-full">
                        <Image src={clothesImg} class="pl-4" alt="bonprix logo"/>
                    </div>
                    Vom Kickoff des Projekts bis zum ersten Produktiveinsatz dauerte es 5 Monate: <b>Sortimentierung, Kommunikation mit Designern und Agenturen sowie die Nachverfolgung der   3D-Modellentwicklung finden jetzt zentral in ProductSpace statt</b>.
                    <br><br>
                    Individualisierung und Erweiterung der Plattform gehen allerdings kontinuierlich weiter: „Wir arbeiten agil und iterativ und bekommen durch die Praxiserfahrungen immer neue Ideen, wie wir unsere Prozesse noch besser streamlinen können und welche Features noch hilfreich wären.“
                    <br><br>
                    ProductSpace ist <b>weniger eine fixe Anwendung</b> als eine flexible Basis, um einen unternehmensindividuell optimierten Workflow für den Kreativprozess zu entwickeln. Anja Mittelstädt dazu: „<b>ProductSpace ist bei einigen Fragen der Digitalisierung unserer Supply Chain zur Antwort geworden</b>.“
                </h2>

            </div>
        </section>

        <section class="flex items-center justify-center py-10 text-white bg-white sm:py-16 md:py-24 lg:py-32 tails-selected-element">
            <div class="relative max-w-3xl px-10 text-center text-white auto lg:px-0">
                <div class="flex flex-col w-full">
                    <p class="mb-2 text-sm font-semibold leading-none text-right text-[#6f82ba] uppercase" data-primary="indigo-600">Das Ergebnis</p>
                    <p class="relative flex flex-col text-2xl font-extrabold text-right text-black">
                        Erste Praxiserfahrungen und weitere Pläne
                    </p>
                </div>

                <!-- Separator -->
                <div class="my-6 border-b border-gray-300 lg:my-12"></div>

                <!-- Bottom Text -->
                <h2 class="text-justify text-gray-500 xl:text-xl w-full">
                    <div class="md:float-left w-auto md:w-[250px] h-auto flex flex-col items-center p-2" data-rounded="rounded-xl" data-rounded-max="rounded-full">
                        <Image src={maschinImg} class="pr-4" alt="bonprix logo"/>
                    </div>
                    <b>Die Plattform kommt gut an</b>: Mittlerweile arbeiten mehr als 340 User monatlich mit ProductSpace. Die Einführung sei ein Katalysator gewesen, um Hürden aus bestehenden Workflows zu entfernen und Prozesse zu streamlinen.
                    <br><br>
                    Ideen für neue Designs sammeln Mitarbeiter jetzt auf <b>zentralen Pinboards</b>. Über eine <b>flexible Suche</b> schöpfen sie aus bisherigen Kollektionen im angebundenen PIM-System. Inspiration aus externen Quellen lassen sich dank Browser-Plugin <b>mit einem Klick ergänzen</b>. Das anschließende <b>Briefing</b> für den Designer versenden Product Owner <b>über die Plattform</b>. Auch Anmerkungen zum 3D- Entwurf erfolgen direkt in der Datei in ProductSpace.
                    <br><br>
                    Das reduziert nicht nur den Kommunikationsaufwand, sondern vereinfacht es auch, das Projekt <b>personenunabhängig</b> voranzutreiben, wenn Mitarbeiter wegen Urlaub oder Krankheit ausfallen.
                    <br><br>
                    <div class="md:float-right w-auto md:w-[250px] h-auto flex flex-col items-center p-2" data-rounded="rounded-xl" data-rounded-max="rounded-full">
                        <Image src={telescopeImg} class="pl-4" alt="bonprix logo"/>
                    </div>
                    <b>Das Ziel von bonprix</b>: bis 2025 alle dafür geeigneten Produkte in 3D zu entwickeln und die <b>Time-to-Market</b> deutlich zu reduzieren. „Mit ProductSpace haben wir jetzt die Basis, um genau das zu erreichen.“ Perfekt sei die Plattform noch nicht, aber sie hat einen einheitlichen digitalen End-to-End-Prozess von der <b>Ideensammlung bis zur Produktion</b>. bonprix arbeitet daran, die Prozesse weiter zu optimieren, damit bonprix bei 3D nicht nur vorne mitspielt, sondern zum Vorreiter wird.
                </h2>

            </div>
        </section>

        <section class="w-full pt-7 pb-7 md:pt-20 md:pb-24 tails-selected-element bg-gray-50">

            <div class="box-border flex flex-col items-center content-center px-8 mx-auto mt-2 leading-6 text-black border-0 border-gray-300 border-solid md:mt-20 xl:mt-0 md:flex-row max-w-7xl lg:px-16">

                <!-- Content -->
                <div class="box-border w-full text-black border-solid md:w-1/2 md:pl-6 xl:pl-32">
                    <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl">
                        Über bonprix
                    </h2>
                    <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-10 lg:text-lg">
                        Das 1986 gegründete Modeunternehmen mit Hauptsitz in Hamburg gehört zu den umsatzstärksten Unternehmen der Otto Group.
                    </p>
                    <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
                        <li class="flex items-center gap-2 box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
                            <svg class="shrink-0" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#6f82ba" viewBox="0 0 256 256"><path d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm48.49-92.49a12,12,0,0,1,0,17l-32,32a12,12,0,1,1-17-17L139,140H88a12,12,0,0,1,0-24h51l-11.52-11.51a12,12,0,1,1,17-17Z"></path></svg> rund 4000 Mitarbeiter
                        </li>
                        <li class="flex items-center gap-2 box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
                            <svg class="shrink-0" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#6f82ba" viewBox="0 0 256 256"><path d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm48.49-92.49a12,12,0,0,1,0,17l-32,32a12,12,0,1,1-17-17L139,140H88a12,12,0,0,1,0-24h51l-11.52-11.51a12,12,0,1,1,17-17Z"></path></svg> ca. 15 Millionen aktive Kunden (2021)
                        </li>
                        <li class="flex items-center gap-2 box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
                            <svg class="shrink-0" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#6f82ba" viewBox="0 0 256 256"><path d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm48.49-92.49a12,12,0,0,1,0,17l-32,32a12,12,0,1,1-17-17L139,140H88a12,12,0,0,1,0-24h51l-11.52-11.51a12,12,0,1,1,17-17Z"></path></svg> 90 Prozent des Umsatzes stammen aus dem E-Commerce
                        </li>
                        <li class="flex items-center gap-2 box-border relative py-1 pl-0 text-left text-gray-500 border-solid">
                            <svg class="shrink-0" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#6f82ba" viewBox="0 0 256 256"><path d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm48.49-92.49a12,12,0,0,1,0,17l-32,32a12,12,0,1,1-17-17L139,140H88a12,12,0,0,1,0-24h51l-11.52-11.51a12,12,0,1,1,17-17Z"></path></svg> 1,94 Milliarden Euro Jahresumsatz (2021/2022)
                        </li>
                    </ul>
                </div>
                <!-- End  Content -->

                <!-- Image -->
                <div class="box-border relative w-full max-w-md px-4 mt-10 mb-4 text-center bg-no-repeat bg-contain border-solid md:mt-0 md:max-w-none lg:mb-0 md:w-1/2">
                    <Image src={bonprixLogo} class="pl-4 sm:pr-10 xl:pl-10 lg:pr-32" alt="bonprix logo"/>
                </div>
            </div>
        </section>
        <Image src={bg2} alt="bgImg" class="w-full h-80 object-cover"/>
    </main>
</Layout>